{% extends 'AvroStripeBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Invoices</h1>
    </div>
    {% include 'AvroStripeBundle:Invoice:list_content.html.twig' %}
{% endblock %}
