<table class="table-styled table-striped table-bordered table-rounded">
    <thead>
        <tr>
            <th>Date</th>
            <th>Total</th>
            <th>Paid</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in paginator %}
            <tr>
                <td>{{ invoice.date | date('M jS, Y') }}</td>
                <td>${{ (invoice.total / 100) | number_format(2, '.', ',') }}</td>
                <td>{% if invoice.paid %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
                <td><a href="{{ path('avro_stripe_invoice_show', {'id': invoice.id}) }}" class="btn btn-primary"><i class="icon-share-alt icon-white"></i> View</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100%">0 invoices found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="center-align">
    {{ paginator.render()|raw }}
</div>
