<div id="stripeCard">
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
            <input id="name" type="text" size="50" maxLength="50" autocomplete="off" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Card Number</label>
        <div class="controls">
            <input id="cardNumber" type="text" size="20" maxLength="16" autocomplete="off" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">CVC Code</label>
        <div class="controls">
            <input id="cvc" class="input-xsmall" type="text" size="4" maxLength="3" autocomplete="off" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Expiry Date (MM/YY)</label>
        <div class="controls">
            <input id="expiryMonth" class="input-xsmall" type="text" size="2" maxLength="2" autocomplete="off" required="required" />
            <span> / </span>
            <input id="expiryYear" class="input-xsmall" type="text" size="2" maxLength="2" autocomplete="off" required="required" />
        </div>
    </div>
</div>

