<table class="table-styled table-striped table-bordered table-rounded">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for plan in plans %}
            <tr>
                <td>{{ plan.id }}</td>
                <td>{{ plan.name }}</td>
                <td>${{ plan.amount }}</td>
                <td>
                    {% if plan.isActive %}
                            <a title="Disable Plan" class="btn btn-danger btn-small" href="{{ path('avro_stripe_plan_disable', {'id': plan.id}) }}"><i class="icon-remove"></i> Disable</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100%">0 plans found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
